In [1]:
import numpy as np


data = np.load("pavia.npy")
gt = np.load("pavia_gt.npy").reshape(-1)

In [2]:
gt.shape

(207400,)

In [3]:
data.shape

(610, 340, 103)

In [4]:
data = data.reshape(-1, 103)

In [5]:
data.shape

(207400, 103)

In [6]:
np.unique(gt, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=uint8),
 array([164624,   6631,  18649,   2099,   3064,   1345,   5029,   1330,
          3682,    947], dtype=int64))

In [7]:
n_classes = np.unique(gt).size
n_classes

10

In [8]:
data = (data - data.min(axis=0)) / (data.max(axis=0) - data.min(axis=0))

In [9]:
import pandas as pd
df = pd.DataFrame(data=np.hstack((data, np.expand_dims(gt, -1))), columns=list(map(str, list(range(data.shape[-1])))) + ["target"])
df.shape

(207400, 104)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,target
0,0.080875,0.062375,0.058000,0.046375,0.036375,0.039875,0.045625,0.04025,0.037000,0.038125,...,0.427000,0.416875,0.396053,0.392157,0.389172,0.390585,0.402625,0.394610,0.406250,0.0
1,0.075500,0.068250,0.065875,0.056875,0.047250,0.047125,0.042000,0.03925,0.040500,0.041125,...,0.322875,0.317250,0.300955,0.301120,0.299490,0.296183,0.305250,0.296212,0.316000,0.0
2,0.077625,0.093250,0.069500,0.045000,0.035625,0.037500,0.034250,0.03450,0.041500,0.039875,...,0.286000,0.280250,0.260726,0.261777,0.264331,0.270483,0.288500,0.281083,0.295125,0.0
3,0.079625,0.074000,0.060250,0.069500,0.063500,0.035500,0.022250,0.02475,0.024125,0.028000,...,0.334375,0.326125,0.305029,0.306213,0.308408,0.309033,0.321625,0.316044,0.330500,0.0
4,0.078125,0.070000,0.060000,0.045000,0.047125,0.042625,0.033000,0.02600,0.028875,0.033250,...,0.299000,0.293000,0.272947,0.277820,0.288535,0.290585,0.298250,0.292016,0.307000,0.0

In [11]:
dfs = []
for class_idx in range(1, n_classes):
    sub_df = df[df["target"] == class_idx]
    print(f"Size for class {class_idx}: {sub_df.shape[0]}")
    print(f"Selected size: {int(0.05 * sub_df.shape[0])}\n\n")
    sub_df = sub_df.sample(n=int(0.05 * sub_df.shape[0]), replace=False, random_state=0)
    dfs.append(sub_df)

dfs = pd.concat(dfs).sample(frac=1).reset_index(drop=True)
dfs["target"] = dfs["target"].astype(int)
dfs.to_csv(f'dataset_pavia.dat', sep=" ", index=False, float_format='%1.6f', header=False)

Size for class 1: 6631
Selected size: 331


Size for class 2: 18649
Selected size: 932


Size for class 3: 2099
Selected size: 104


Size for class 4: 3064
Selected size: 153


Size for class 5: 1345
Selected size: 67


Size for class 6: 5029
Selected size: 251


Size for class 7: 1330
Selected size: 66


Size for class 8: 3682
Selected size: 184


Size for class 9: 947
Selected size: 47